<html>

<head>
    <title>Marid &trade;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../../assets/images/marid_logo.png" type="image/png"/>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/bootstrap_marid.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/nprogress.css">
</head>
<body class="main">
    <div class="root">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../../assets/images/marid_logo.png" height="40px" style="margin-bottom:5px;margin-top:5px;" /></a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-navbar-menu"><i class='fa fa-bars'></i>

                    </div>
                    <div class="collapse navbar-collapse" id="collapse-navbar-menu">
                        <ul class="nav navbar-nav navbar-left">
                          <li>
                              <form class="navbar-left" role="search">
                                
                                    <input type="text" class="form-control input-lg" placeholder="Search Video/Audio..."/>
                   
                            </form>
                        </li>
                      </ul>
                        <ul class="nav navbar-nav navbar-right">
                        <li>
                          <a href="#"><i class='fa fa-bell fa-lg'></i><span class="label label-danger">15</span></a>
                      </li>
                      <li>
                          <a href="#"><span class='fa fa-user fa-lg'>
                      </li>
                      <li class="divider"></li>
                      
                  </ul>
              </div>
          </div>
      </nav>
      <div class="container-fluid" id="control-panel">
        <center>
                <ul>
                  <li><a href="#"><i class=" fa fa-home"></i></a></li>
                  <li><a href="#"><i class=" fa fa-desktop"></i></a></li>
                  <li><a href="#"><i class=" fa fa-eye"></i></a></li>
                  <li><a href="#"><i class=" fa fa-cloud-upload"></i></a></li>
                  <li><a href="#"><i class=" fa fa-bars"></i></a></li>
                  <li><a href="#"><i class=" fa fa-link"></i></a></li>
                  <li><a href="#"><i class=" fa fa-users"></i></a></li>
                  <li><a href="#"><i class=" fa fa-cog"></i></a></li>

                     
                  </ul>
                  </center>
              </div>
          </div>
      
      <div class="main-container" ng-controller='chorusController'>
        <center>
        <div class="heading">
              <p>Discover</p>

              <p>The music <i>you</i> want</p>
          
        </div>
        </center>
          <div class="main-content">
                <div class="container">
                        <ul class="nav navbar-nav nav-profile">
                            <li> <a href="#">All</a>
                            </li>
                            <li> <a href="#">Artists</a>
                            </li>
                            <li> <a href="#">Engineers</a>
                            </li>
                            <li> <a href="#">Mixers</a>
                            </li>
                            <li> <a href="#">Songwriters</a>
                            </li>

                        </ul>
                
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../../assets/images/chet.jpg">
                      <a href="#"><span class="fa fa-play"></span></a>
                      <a href="#"><i class="fa fa-heart"></i></a>
                    </div>

                   
                  <div class="col-md-2">
                    <img src="../../assets/images/bonobo.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/drake.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/disclosure.jpg"> 
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/Gorillaz.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../../assets/images/bonobo.jpg">
                      <a href="#"><span class="fa fa-play"></span></a>
                      <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                   
                  <div class="col-md-2">
                    <img src="../../assets/images/Gorillaz.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/disclosure.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/drake.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/chet.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../../assets/images/drake.jpg">
                      <a href="#"><span class="fa fa-play"></span></a>
                      <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                   
                  <div class="col-md-2">
                    <img src="../../assets/images/disclosure.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/Gorillaz.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/chet.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/bonobo.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../../assets/images/Gorillaz.jpg">
                      <a href="#"><span class="fa fa-play"></span></a>
                      <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                   
                  <div class="col-md-2">
                    <img src="../../assets/images/drake.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/chet.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/bonobo.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  
                  <div class="col-md-2">
                    <img src="../../assets/images/disclosure.jpg">
                    <a href="#"><span class="fa fa-play"></span></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  </div>
                </div>
            </div>
        <div class="footer">

        </div>
    </div>
</div>
</div>
</body>
<script type="text/javascript" src="../../assets/javascripts/jquery.js"></script>
<script type="text/javascript" src="../../assets/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="../../assets/javascripts/nprogress.js"></script>

<script type="text/javascript">
    NProgress.start();
    NProgress.configure({
        ease: 'ease',
        speed: 500
    });
    setInterval(function() {
        NProgress.done()
    }, 1500);
</script>

</html>
