<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mar&#9834;d &trade;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="css/images/marid_logo.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap_marid.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap_marid_media.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>

  <body class="main cbp-spmenu-push">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3>&#9835; &#9833;  &#9834; &#9836; &#9837; &#9839; </h3>
        <a class="list-group-item active"><i class="fa fa-home"></i> Home</a>
        <a class="list-group-item"><i class="fa fa-dashboard"></i> Dashboard</a>
        <a class="list-group-item"><i class="fa fa-eye"></i> View Portfolio</a>
        <a class="list-group-item "><i class="fa fa-archive"></i> Edit Portfolio </a>
        <a class="list-group-item"><i class="fa fa-link"></i> Connections</a>
        <a class="list-group-item"><i class="fa fa-list"></i> Playlists </a> 
        <a class="list-group-item"><i class="fa fa-group"></i> Groups </a>
        <a class="list-group-item"><i class="fa fa-folder"></i> Account </a>
        <a class="list-group-item"><i class="fa fa-exchange"></i> Contacts </a>
        <a class="list-group-item"><i class="fa fa-question"></i> Help </a>
    </nav>
    <div class="root">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="main-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class='fa fa-bars'></i>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="css/images/header-logo.png" class="logo" id="showLeftPush" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="search-input">
                            <div class="input-group">
                                <input type="text" class="form-control search" placeholder="Search for Artists, Videos, Songs, Lyrics, Genres ...">
                                <a href="#"><i class="fa fa-microphone fa-2" style="margin-left: 10px;margin-top: 7px;"></i></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><i class='fa fa-envelope-o fa-lg'></i><span class="label label-danger">15</span></a>
                        </li>
                        <li>
                            <a href="#"><i class='fa fa-bell-o fa-lg'></i><span class="label label-danger">15</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class='avatar' src="css/images/user_logo.png">User <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-pencil"></i>Profile</a>
                                </li>
                                <li><a href="#"><i class="fa fa-archive"></i>Edit Portfolio</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="index.html"><i class="fa fa-power-off"></i>Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="main-content-full">
                <ul id="portfolio-filter" class="navbar-collapse collapse">
                    <li><a href="#all" title="">all</a>
                    </li>
                    <li><a href="#artists" title="" rel="artists">artists</a>
                    </li>
                    <li><a href="#engineers" title="" rel="engineers">engineers</a>
                    </li>
                    <li><a href="#mixers" title="" rel="mixers">mixers</a>
                    </li>
                    <li><a href="#songwriters" title="" rel="songwriters">songwriters</a>
                    </li>
                </ul>
                <ul id="portfolio-list">
                    <li style="overflow: hidden; clear: both; height: 0px; position: relative; float: none; display: block;"></li>
                    <li style="display: block;" class=" engineers ">
                     <a href="#" title="">
                       <iframe title="YouTube video player" src="http://www.youtube.com/embed/wjzoG-c92CY?wmode=transparent" seamless height="100%" height="100%"></iframe>
                   </a>
                   <p>Katy Perry - Roar (Official)</p>
               </li>
               <li style="display: block;" class=" engineers ">
                <a href="#" title="">
                   <iframe title="YouTube video player" src="http://www.youtube.com/embed/wjzoG-c92CY?wmode=transparent" seamless height="100%"></iframe>
               </a>
               <p>Katy Perry - Roar (Official)</p>
           </li>
           <li class="business artists">
            <a href="#" title="">
               <iframe title="YouTube video player" src="http://www.youtube.com/embed/EAyzpLGBI1E?wmode=transparent" seamless height="100%"></iframe>
           </a>
           <p>Katy Perry - Roar (Official)</p>
       </li>
       <li class=" songwriters artists  video">
          <a href="#" title="">
           <iframe title="YouTube video player" src="http://www.youtube.com/embed/wrNTOo4KH8c?wmode=transparent" seamless height="100%"></iframe>
       </a>
       <p>Katy Perry - Roar (Official)</p>
   </li>
   <li class="mixers artists ">
     <a href="#" title="">
       <iframe title="YouTube video player" src="http://www.youtube.com/embed/CevxZvSJLk8?wmode=transparent" seamless height="100%"></iframe>
   </a>
   <p>Katy Perry - Roar (Official)</p>
</li>
<li class="songwriters engineers artists ">
 <a href="#" title="">
   <iframe title="YouTube video player" src="http://www.youtube.com/embed/5jlI4uzZGjU?wmode=transparent" seamless height="100%"></iframe>
</a>
<p>Katy Perry - Roar (Official)</p>
</li>
</ul>
</div>
</div>
</div>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/nprogress.js"></script>
<script type="text/javascript" src="js/classie.js"></script>
<script type="text/javascript" src="js/filterable.pack.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
        $('head').append('<link href="css/images/marid_logo.png" rel="shortcut icon" type="image/x-icon" />');
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

        NProgress.start();
        NProgress.configure({
            ease: 'ease',
            speed: 500
        });
        setInterval(function() {
            NProgress.done()
        }, 1500);


        $('.sidebar').css({
            height: $(window).height() - 55
        });
        $('.main-content-full').css({
            height: $(window).height() - 55
        });
        $('.list-group-item').on("click", function() {
           classie.toggle(this, 'active');
           classie.toggle(body, 'cbp-spmenu-push-toright');
           classie.toggle(menuLeft, 'cbp-spmenu-open');
           disableOther('showLeftPush');
       });
        showLeftPush.onclick = function() {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };
        function disableOther(button) {
            $('#main-navbar').toggleClass('navbar-fixed-top');
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    });
</script>

</html>
