        <div class="main-content-full animated fadeIn">
            <ul id="portfolio-filter" class="navbar-collapse collapse">
                <li><a href="#all" title="">all</a>
                </li>
                <li><a href="#artists" title="" rel="artists">artists</a>
                </li>
                <li><a href="#engineers" title="" rel="engineers">engineers</a>
                </li>
                <li><a href="#mixers" title="" rel="mixers">mixers</a>
                </li>
                <li><a href="#songwriters" title="" rel="songwriters">songwriters</a>
                </li>
            </ul>
            <ul id="portfolio-list">
                <li style="overflow: hidden; clear: both; height: 0px; position: relative; float: none; display: block;"></li>
                <li style="display: block;" class=" engineers ">
                       <a href="#" title="">
                         <iframe title="YouTube video player" src="http://www.youtube.com/embed/wjzoG-c92CY?wmode=transparent" seamless height="100%" height="100%"></iframe>
                        </a>
                        <p>Katy Perry - Roar (Official)</p>
                    </li>
                    <li style="display: block;" class=" engineers ">
                        <a href="#" title="">
                         <iframe title="YouTube video player" src="http://www.youtube.com/embed/wjzoG-c92CY?wmode=transparent" seamless height="100%"></iframe>
                        </a>
                        <p>Katy Perry - Roar (Official)</p>
                    </li>
                    <li class="business artists">
                        <a href="#" title="">
                         <iframe title="YouTube video player" src="http://www.youtube.com/embed/EAyzpLGBI1E?wmode=transparent" seamless height="100%"></iframe>
                        </a>
                        <p>Katy Perry - Roar (Official)</p>
                    </li>
                    <li class=" songwriters artists  video">
                      <a href="#" title="">
                         <iframe title="YouTube video player" src="http://www.youtube.com/embed/wrNTOo4KH8c?wmode=transparent" seamless height="100%"></iframe>
                        </a>
                        <p>Katy Perry - Roar (Official)</p>
                    </li>
                    <li class="mixers artists ">
                       <a href="#" title="">
                         <iframe title="YouTube video player" src="http://www.youtube.com/embed/CevxZvSJLk8?wmode=transparent" seamless height="100%"></iframe>
                        </a>
                        <p>Katy Perry - Roar (Official)</p>
                    </li>
                    <li class="songwriters engineers artists ">
                       <a href="#" title="">
                         <iframe title="YouTube video player" src="http://www.youtube.com/embed/5jlI4uzZGjU?wmode=transparent" seamless height="100%"></iframe>
                        </a>
                        <p>Katy Perry - Roar (Official)</p>
                    </li>
            </ul>
        </div>